# 01.intro

## shortcut (단축키)

- ctrl + enter : 현재 셀을 실행
- shift + enter : 현재 셀을 실행함과 동시에 아래에 셀로 이동 (새로운 셀이 없으면 새로운 셀을 생성)
- alt + enter : 현재 셀을 실행하고 아래에 새로운 셀을 추가

더 다양한 단축키는 Help 에서 사용 가능함. 
    -> ESC를 누르고, 방향 이동키로 셀을 이동가능함.

## 주의사항

1. Apple 과 apple 은 다르다. (대소문자 주의)
2. git add. / git add . 은 다르다. (띄어쓰기 주의)
3. message / massage 는 다르다. (오타 주의)

# 01. 변수

```
var name = value
```
- `변수` 는 변하는 값
- `=` : 오른쪽에 있는 값을, 왼쪽 상자에 넣는다. 
- `var` : value 어떠한 값을 의미한다.
- 변수이름은 어떤 이름이든 사용 가능하다. (하지만, 영어로 사용하기로 약속)
- 다만, 영어, 숫자, _를 이용해서 변수이름을 선언 할 것이다.
- 키워드는 불가능.
    - 아래에 import keyword
             keyword.kwlist 와 같이 이미 python 에 있는 키워드는 불가능하다라는 말.
    - 단어와 단어의 연결은 _ (underscore) 을 통해 잇는다.

In [9]:
a = 100

In [10]:
a

100

In [14]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# 1.1 Number

파이썬은 동적 언어 -> 만든 상자 안에 문자이던지 숫자이던지 전혀 상관이 없다. int string 이렇게 표현할 필요가 없음.

In [15]:
a = 10000

In [16]:
a

10000

In [18]:
type(a)

int

In [21]:
b = 1.1

In [22]:
type (b)

float

정수 = int / 실수 = float

In [26]:
c = 1 + 1j

In [28]:
c

(1+1j)

In [29]:
type(c)

complex

복소수 = complex

## 1.2 boolean

In [30]:
a = True

In [31]:
a

True

In [32]:
type (a)

bool

In [33]:
b = False

In [34]:
b

False

In [35]:
type (b)

bool

## 1.3 String
- 문자열 `'`, `"` 를 이용하여 표현

In [36]:
a = 'hello'

In [38]:
b = "hi"

In [39]:
a

'hello'

In [40]:
b

'hi'

=> '로 시작했으면, '로 끝나고, "로 시작하면, "로 끝나기. 문자열 `'`, `"` 은 문자열임을 알려주는 기호 정도임.

In [41]:
print('hello')

hello

In [46]:
print('hello my name is "Su"')

hello my name is "Su"

In [47]:
print('hello my name is \'Su\'')

hello my name is 'Su'

In [55]:
a = '''
hello
world
hi
'''

In [50]:
print('hello\n my name is \'Su\'')

hello
 my name is 'Su'

In [58]:
a = 10
b = '홍길동은 10살입니다.'

In [59]:
print(b)

홍길동은 10살입니다.

In [60]:
# 주석 comment - 이 코드는 이해하지 않는다.

# string interpolation

- %-formatting
- str.format()
- f-string

In [62]:
age = 10

In [63]:
print('홍길동은 %s살입니다.' % age)

홍길동은 10살입니다.

In [64]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 10살입니다.

In [65]:
print(f'홍길동은 {age}살입니다.')

홍길동은 10살입니다.

 # 02. 연산자

## 2.1. 산술연산자

In [74]:
a = 5
b = 2

In [75]:
print (a + b)
print (a - b)
print (a * b)
print (a / b)

7
3
10
2.5

In [78]:
print (a ** b)
print (a // b)
print (a % b)

25
2
1

** 이라는 기호는 제곱수를 의미함
// = 몫만 표시
% = 나머지만 표시

In [84]:
result = divmod(a, b)
print(result)

(2, 1)

divmod 라는 것은 나눗셈 도구이다. a를 b로 나눈 몫을 하나 만들고, 나머지를 만든다 => 한덩어리의 데이터가 생성됨
몫과 나머지라는 하나의 덩어리 데이터 => result 로 나타남.

## 2.2. 비교연산자

In [85]:
a = 5
b = 10

In [89]:
print (a > b)
print (a < b)
print (a >= b)
print (a <= b)

False
True
False
True

a가 b 보다 크나요?의 의문문 => boolean type 의 연산이다.

In [92]:
print (a == b)
print (a != b)

False
True

!= 는 `같지 않다` 를 의마함.

In [94]:
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

## 2.3. 논리연산자
- and : 특정 조건 두개를 다 만족할 때 - 양쪽 모두 True 일 때, True를 반환한다.
      - 그냥 앞에걸 선택하면됨. (뒤에 뭐가 오던지 중요하지 않음.)
- or : 양쪽 모두 False 일 때, False를 반환한다. => 둘중에 하나라도 True가 있으면, True를 반환한다.

- not : (현재) 상태를 부정한다.

In [96]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [97]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [98]:
a = True
print (not a)

False

In [101]:
# 단축평가 (심화내용)
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [103]:
print(3 or 5)
print(3 or 0)
print(0 or 3)
print(0 or 5)

3
3
3
5

In [ ]:
# 마이너한 내용이지만 알아두면 좋을 내용임.

## 2.4. 복합 연산자

In [104]:
a = 2
b = 3

In [109]:
a = a + b
a = a - b
a = a * b
a = a / b

In [110]:
a += b
a -= b
a *= b
a /= b
a //= b
a **= b

In [ ]:
# 위 표기 방법과 아래의 표기법은 똑같음.

In [111]:
a = 'hi'
b = 'hello'

In [112]:
print (a+b)

hihello

In [ ]:
#문자열과 문자열의 `+` 는 연결이다. `concatenation`
# print (a + 1) 은 동작 하지 않는다.

In [114]:
a = [1, 2, 3]
b = [2, 3, 4]
#list라고 부름 (java 등 다른데에서는 array (배열) 이라고 부름.

In [115]:
print(a + b)

[1, 2, 3, 2, 3, 4]

In [117]:
print(1 in a)
# 1이라는 데이터가 a 에 포함이 되어있나요? 
# a 는 [1, 2, 3] 이기에 참이다.

True

In [118]:
a = 500
b = 500

In [119]:
print (a == b)

True

In [120]:
print(a is b)
# 아래와 숫자를 500 -> 100 으로만 바꿨더니, `is` 를 사용 했을 때, False -> True 로 바뀜.

False

In [121]:
a = 100
b = 100
print(a is b)

True

In [122]:
# 위 경우에 True 가 나온 이유; 256 전까지의 수는 똑같은 위치의 메모리에 저장되므로 'is'를 써도 같다고 (TRUE)를 반환한다.

### 2.5. 연산자 우선순위

- 2 + 2 * 2 - 사칙연산과 같이 연산자에도 우선순위가 있음. 

0. ()를 통해서 그룹 - ()가 있으면 먼저 계산
1. ** - 제곱이 있으면 먼저 계산
2. 산술연산자 (*, /)
3. 산술연산자 (+, -)
4. 비교연산자 (비교 부등호), in, is
5. not
6. and
7. or

In [123]:
print(-3 ** 4)
# **이 먼저
print((-3) ** 4)
# 괄호가 먼저

-81
81

## 3. 형변환

## 3.1. 암시적 형변환

In [124]:
a = True
b = False
c = 1
# 자동으로 나타나는 변환 - 암시적 형변환

In [125]:
print(a + b)
# True 를 1로, False 를 0 으로 자동으로 바꿔서 계산함.

1

In [126]:
print(a + c)

2

In [129]:
if True:
    print('Hello')

Hello

In [130]:
if 0 > 1:
    print('Hello')

In [131]:
if 1:
    print('hello')
# 이떄도 암시적 형변환으로 1을 True 로 받아들인 후 결과값을 추출함.

hello

In [132]:
print(1 + 1.1)

2.1

## 3.2. 명시적 형변환
- int()
- float()
- str()
  #문자열
- bool()
  #True/ False

In [133]:
a = 1
b = '반'

In [134]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [135]:
a = '1'
b = '반'
print(a + b)

1반

In [136]:
print(str(a) + b)

1반

In [137]:
a = '3'
#따옴표 안에 있으므로 문자열 3 으로 인식함. 
print(type(a))

<class 'str'>

In [138]:
print(int(a))

3

In [139]:
print(type(int(a)))

<class 'int'>

In [141]:
b = int(a)
print(b)
print(type(b))

3
<class 'int'>

In [142]:
c = 'apple'
d = int(c)
# apple 이라는 문자열은 숫자로 바뀔 수가 없기 때문에 아래와 같은 오류가 발생함.

ValueError: invalid literal for int() with base 10: 'apple'

In [143]:
a = 1
b = 0 
c = 123
print(bool(a))
print(bool(b))
print(bool(c))

True
False
True

In [145]:
d = -123
print(bool(d))

True

In [ ]:
#0만 False 이고, 0 이 아닌 모든 수 (음수 포함) 은 True 이다.

In [147]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

In [ ]:
# 집합체 안에 아무 내용이 없으므로, False / [] list 내의 데이터값이 존재하므로 True 를 반환함.

# 4. 시퀀스 자료형
- 시퀀스는 데이터의 **순서대로** 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된 것과 다르다.)

 1. List
 2. Tuple
 3. Range
 4. String

- tuple 은 거의 쓰이지 않음.

## 4.1. List (리스트, 배열)
- 선언 방법 : `var_name = [value1, value2, value3, ...]`
- 접근 : `var_name[index]`

#숫자는 0부터 시작한다.

In [1]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [ ]:
#변수 이름은 항상 '영어'라고 생각하자. (숫자를 변수로 하지 않음.)

In [4]:
location = ['서울', '대전', '부산']
print(location)
print(location[0])
#index 번호 (자리) 0번째 부터 ~ (index 범위)
#재할당 (자리를 바꾼다 index의)

location[1] = '대구'
print(location)

['서울', '대전', '부산']
서울
['서울', '대구', '부산']

## 4.2. Tuple (튜플)
- 선언 : `var_name = (value1, value2, value3, ...)`
- 접근 : `var_name[index]`
  - 순서가 있는 것은 모두 대괄호로 index에 접근한다.
- 수정불가능하다 (immutable)

In [6]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

('서울', '대전', '대구')
서울

In [7]:
location[2] = '부산'

TypeError: 'tuple' object does not support item assignment

## 4.3. Range

선언방법
- range(n) : 0 부터 n-1 까지의 범위
- range(n, m) : n 부터 m-1 까지의 범위
- range(n, m, s) : (*s는 step을 의미함) n 부터 m-1까지 s만큼 증가하는 범위

In [9]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [ ]:
#로또는 0이 없으니, 1부터 표현하고 싶다면, 아래와 같이

In [10]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [11]:
even = range(2, 20, 2)
# 짝수 (even)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [12]:
# 만일 20을 포함하고 싶다면, 21까지로 range 값을 선언한다.

In [13]:
even = range(2, 21, 2)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
# 이친구는 음수도 표현이 가능함.

In [16]:
numbers = range(0, -20, -2)
print(list(numbers))

[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 String
- 기본 데이터 구조 참고
- string 은 단일 구조 데이터라고 배웠는데, 왜 sequence 에서도 쓰이나요?
  - 문자열의배열 데이터이므로 (sequence data) 로 인지됨.

In [17]:
s = 'hi my name is Su'
print(s[0])

h

In [ ]:
#인덱스 접근이 가능하다. 
#s = ['h', 'i', ' ', 'm', ...]
#굳이 list 의 배열로 표현해본다면, 이렇게 표현이 가능하니, index (순서)를 불러 올 수 있다.

## 4.5. 시퀀스에서 활용 가능한 연산/ 함수
- 시퀀스 자료형

In [23]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [24]:
#indexing (순서에 접근을 하는 행위
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [27]:
#일정한 범위의 데이터를 얻는
#slicing
#변수의 이름뒤에 : 
#var_name[index1:index2]
print(my_list[0:2])
print(my_tuple[0:2])
print(my_range[0:2])
print(my_string[0:2])
print(my_list[2:5]) #index 번호의 2번째 부터 5번째 미만까지 그러니까 3번째 부터 (index 0이 첫번째 자리를 의미하므로
)

['a', 'b']
(6, 7)
range(0, 2)
가나
['c', 'd', 'e']

In [31]:
#인덱스 생략
print(my_list[0:])
print(my_list[3:])
print(my_list[:4])

['a', 'b', 'c', 'd', 'e']
['d', 'e']
['a', 'b', 'c', 'd']

In [35]:
#음수 인덱스
print(my_list[-1])
#맨뒤에 있는데이터가 -1번째
print(my_list[-3:-1])
print(my_list[1:-1])

e
['c', 'd']
['b', 'c', 'd']

In [36]:
print(my_list[:])
#처음부터 끝까지

['a', 'b', 'c', 'd', 'e']

In [37]:
#step
print(my_list[::2])

['a', 'c', 'e']

In [44]:
#in
#이 안에 들어있나요?
print(1 in my_list)
print('a' in my_list)

print('a' not in my_list)
print('z' not in my_list)

False
True
False
True

In [49]:
# concatennation (연결)
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + [1, 2, 3]) 
#tuple 은 tuple 끼리

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]

TypeError: can only concatenate tuple (not "list") to tuple

In [50]:
print(my_tuple + (1, 2, 3))

(6, 7, 8, 9, 10, 1, 2, 3)

In [51]:
# * (곱하기; 라고 생각하지말고 연결을 * 했다고 생각하기.
print(my_list * 2)
print('a' * 5)

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
aaaaa

In [53]:
print([0] * 10)
#0이 열번 든 리스트를 10번 연결해주세요

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [56]:
#length (길이)
len(my_list)

5

In [59]:
max(my_list)

'e'

In [60]:
min(my_list)

'a'

# 5. 시퀀스형이 아닌 자료구소

## 5.1. Set (순서가 없다)
- 수학에서의 집합과 비슷한 개념

- (핵심) 중복값이 없음.

- 선언 : `var_name = {value1, value2, value3, ...}`

- 순서가 없기 때문에, 접근 (특정 index 의 데이터의 값을 불러오는 것은 불가능.)

In [61]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

In [63]:
print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [64]:
my_set_a = {1, 2, 3, 4, 5, 5, 5, 5 }
my_set_b = {1, 3, 5, 7, 9}
print(my_set_a)
# 중복값이 없기 때문에 5를 여러번 적었어도, 단 한번만 보여줌.

{1, 2, 3, 4, 5}

In [67]:
print(my_set_a - my_set_b)
print(my_set_a | my_set_b)
# 더하기는 + 기호가 아닌 pipe (|) 로
print(my_set_a & my_set_b)
# & 기호는 교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [70]:
#set로 강제로 형변환 -> List 자료를 Set 로 => 중복된 값 데이터를 제거 할 때
location = ['서울', '서울', '서울', '인천', '대구', '제주', '제주', '제주']
print(set(location))

{'인천', '제주', '대구', '서울'}

## 5.2. Dictionary (가장 많이 쓰이는 데이터 중 하나)
내가 찾고자 하는 그 값의 이름 (key) - 거기에 저장된 내용 (value)
- 선언 : `var_name = {key1: value1, key2: value2, key3: value 3, ...}`
- 접근 : `var_name[key]`
- `key` 에는 대부분 `String` 을 적는다.

In [71]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict['서울'])
#02를 통해서는 서울에 접근이 불가능
#항상 key 값을 가지고 데이터에 접근 (value에) 가능하다.

02

In [75]:
my_info = {
    'name': 'Changhee', 
    'location': 'Seoul',
    'age': 10,
    'skill': ['python', 'git']
}

In [76]:
print(my_info['name'])
print(my_info['skill'])

Changhee
['python', 'git']

In [80]:
print(my_info['skill'])
#[]대괄호로 감싸고 있는 list 의 인덱스에 접근하여 git 을 가져오려면

['python', 'git']

In [83]:
print(my_info['skill'][1])

git

## **데이터 타입**
- Number
- Boolean
- String

## **자료구조**
- sequence

  1. [List] : mutable (수정이 가능하다)
  2. (Tuple) : immutable (수정이 불가능하다)
  3. range() : immutable
  4. 'String' : immutable

(immutable - 인덱스로 접근해서 그 인덱스를 수정한다는 의미 (완전히 덮어쓰기는 가능하나/ 일부분 (재할당) 은 불가능하다.)

- sequence 가 아닌 것
  1. {Set} : mutable
  2. {Dict: ionary} : mutable