# https://wikidocs.net/7021
## 파이썬 기본 예제 문제 풀이 (12.02.2025)

In [1]:
print('Hello world')

Hello world

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [10]:
print('C:\\Windows')

C:\Windows

In [11]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [12]:
print('오늘은', '일요일')

오늘은 일요일

In [13]:
print('naver;', 'kakao;', 'sk;', 'samsung')

naver; kakao; sk; samsung

In [14]:
#정답은: print("naver", "kakao", "samsung", sep=";")

In [16]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [17]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [18]:
print("first");print("second")

first
second

In [19]:
# 정답은: print("first", end=""); print("second")

In [20]:
print("first", end=""); print("second")

firstsecond

In [21]:
print(5/3)

1.6666666666666667

In [24]:
#011 변수 사용하기
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print (총평가금액)

500000

In [29]:
#012 변수 사용하기
시가총액 = '298조'
현재가 = '50000원'
PER = 15.79

print(시가총액)
print(현재가)
print(PER)
print(시가총액, type(시가총액))

298조
50000원
15.79
298조 <class 'str'>

In [31]:
#정답은, 298조로 나온 표의 내용을 int 타입의 변수값에 맞게 str (298조) 라고 나타내지 않고, 숫자로 풀어씀. 
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [36]:
#013 문자열 출력
s = "hello"
t = "python"

print(s,'!', t)

hello ! python

In [ ]:
#정답은 print(s+"!", t)입니다.

In [37]:
#014 파이썬을 이용한 값 계산
print(2+2*3)

8

In [39]:
#015 type 함수
a = 128
print (type(a))

<class 'int'>

In [41]:
a = "132"
print(type(a))

<class 'str'>

In [42]:
#016 문자열을 정수로 변환
num_str = '720'

In [47]:
num_str = 720
print(type(num_str))
#오답
#해설
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

<class 'int'>
721 <class 'int'>

In [49]:
# 이 코드의 역할은 문자열을 정수로 변환하고, 변환된 정수에 1을 더한 값을 출력하는 것입니다. 하나씩 살펴볼게요:

# num_str = "720": 여기서 "720"이라는 문자열이 정의됩니다.

# num_int = int(num_str): 문자열 "720"을 정수로 변환하여 num_int 변수에 저장합니다.

# print(num_int+1, type(num_int)): 변환된 정수 num_int에 1을 더한 값과, num_int의 데이터 타입을 출력합니다.

# 여기서 1을 더하는 이유는 단순히 예시를 위해서입니다. 원래 문자열이 720이었으니까, 1을 더해서 721이 된다는 것을 보여주는 것이죠.

# 이렇게 하면 출력 결과는 721 <class 'int'>가 될 것입니다. 여기서 721은 720에 1을 더한 값이고, <class 'int'>는 num_int가 정수형임을 나타냅니다.

In [55]:
#017 정소를 문자열 100으로 변환
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [56]:
#018 문자열을 실수로 변환
num = 15.79
result = float(num)
print(result, type(result))

15.79 <class 'float'>

In [ ]:
# data = "15.79"
# data = float(data)
# print(data, type(data))

In [63]:
#019 문자열을 정수로 변환
year = "2020"
year = int(year)

SyntaxError: expected 'else' after 'if' expression (979438933.py, line 5)

In [65]:
# 019 문제 정답
# year = "2020"
# print(int(year)-3)  # 2017
# print(int(year)-2)  # 2018
# print(int(year)-1)  # 2019

In [67]:
#020 파이썬 계산
금액 = 48583
개월수 = 36
총금액 = 금액 * 개월수
print(총금액)

1748988