### Python 예제 문제 풀이
13.02.2025 (Thu)

In [1]:
#017 정수를 문자열100으로 변환하기
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [4]:
#018 문자열 "15.79"를 float 타입으로 변환하기
data = "15.79"
result = float(data)
print(result, type(result))

15.79 <class 'float'>

In [10]:
# 019 문자열을 정수로 변환
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 
# 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.
year = "2020"
result = int(year)
print('year-1', 'year', 'year+1')

#내 풀이는 틀렸음.

year-1 year year+1

In [9]:
year = "2020"
print(int(year)-3)  # 2017
print(int(year)-2)  # 2018
print(int(year)-1)  # 2019

2017
2018
2019

In [12]:
#021 문자열 인덱싱
#letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
letters = 'python'
print(letters[0], letters[2])

p t

In [15]:
# 022 문자열 슬라이싱
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"
# 문자열에서 여러 글자를 가져오는 것을 슬라이싱이라고 부릅니다. 
# 음수 값은 문자열의 뒤에서부터 인덱싱 또는 슬라이싱함을 의미합니다. 
# 슬라이싱에서 시작 인덱스를 생락혀면 0으로 간주하고 끝 인덱스를 생략하면
# 문자열의 끝을 의미합니다.
print(license_plate[-4:])
# -4는 문자열의 뒤에서 네 번째 문자부터 시작하라는 의미입니다.

# : 뒤에 아무 값도 없으므로 문자열의 끝까지 슬라이싱합니다.

2210

In [16]:
# 023 문자열 인덱싱
# 아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"
print(string[0], string[2], string[4])

홀 홀 홀

In [ ]:
# 첫 번째 콜론(:) 앞의 빈칸은 시작 인덱스를 의미하며, 
#빈칸이므로 문자열의 처음부터 시작합니다.

# 두 번째 콜론(:) 뒤의 2는 간격(step)을 의미합니다. 
#즉, 2씩 건너뛰며 문자를 추출합니다.

In [17]:
# 024 문자열 슬라이싱
# 문자열을 거꾸로 뒤집어 출력하세요.
string = "PYTHON"
print(string[::-1])

NOHTYP

In [20]:
# 025 문자열 치환
# 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"

In [21]:
# 026 문자열 다루기
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '')
print(phone_number1)

01011112222

In [23]:
# 027 문자열 다루기
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
print(url[-2:])

# url = "http://sharebook.kr"
# url_split = url.split('.')
# print(url_split[-1])

kr

In [24]:
# 028 문자열은 immutable
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [25]:
# 문자열은 index 변경이 불가능하다. immutable

In [26]:
# 029 replace 메서드
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [27]:
#030 replace 메서드
string = 'abcd'
string.replace('b', 'B')
print(string)
#변경된 값을 저장하지 않았으므로, 변경한 내용이 저장되지 않는다.

abcd

In [ ]:
# replace() 메서드는 원본 문자열을 변경하지 않고 새로운 문자열을 반환한다!
# 따라서 변경된 값을 유지하려면 새로운 변수에 저장하거나 기존 변수에 다시 할당해야 해.

In [30]:
# 031 문자열 합치기
# 아래 코드의 실행 결과를 예상해보세요.

a = "3"
b = "4"
print(a + b)

#032
print("Hi" * 3)

34
HiHiHi

In [31]:
# 033 문자열 곱하기
# 화면에 '-'를 80개 출력하세요.
print('-' * 80)

--------------------------------------------------------------------------------

In [32]:
# 034 문자열 곱하기
# 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'
t2 = 'java'
# 변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
print((t1+t2)*4)

pythonjavapythonjavapythonjavapythonjava

In [35]:
#위의 문제에서 띄어쓰기를 추가하려면
print((t1+ " " + t2 + " ") * 4)

python java python java python java python java

In [40]:
# 035 문자열 출력
# 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 
# % formatting을 사용해서 다음과 같이 출력해보세요.
# 이름: 김민수 나이: 10
# 이름: 이철희 나이: 13

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

# print 포맷팅에서 `%s`는 문자열 데이터 타입의 값을 
# `%d`는 정수형 데이터 타입 값의 출력을 의미합니다.

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [42]:
#036 문자열 출력
#format() 메서드를 사용해서 문제 풀기

print("이름: {} 나이: {}" .format(name1, age1))
print("이름: {} 나이: {}" .format(name2, age2))

# 037 문자열 출력
# 파이썬 3.6부터 지원하는 f-string을 사용
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [46]:
# 038 컴마 제거하기
# 삼성전자의 상장주식수가 다음과 같습니다. 
# 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

In [47]:
# 039 문자열 슬라이싱
# 다음과 같은 문자열에서 '2020/03'만 출력하세요.
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [48]:
# 040 strip 메서드
# 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "
# 문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거할 수 있습니다. 
# 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.
data1 = data.strip()
print(data1)

삼성전자

In [50]:
#https://wikidocs.net/78558
#위링크의 문제는 건너뛰었음 (그냥)
#051~070 / 121~130
#파이썬 반복문 부터 다시 푸는 걸로. 
#https://wikidocs.net/78562

In [52]:
#131 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [55]:
# 132 for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

# for문의 핵심은 "들여쓰기된 코드가 자료구조에 저장된 데이터 개수만큼 반복된다"라고 
# 설명했습니다. `과일 = ["사과", "귤", "수박"]` 에는 세 개의 데이터가 저장돼 
# 있으므로 들여쓰기된 `print("####")`코드가 세 번 실행됩니다.

#####
#####
#####

In [56]:
#133 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [57]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [61]:
# 136 다음 코드를 for문으로 작성하라.

# 변수 = 10
# print(변수)
# 변수 = 20
# print(변수)
# 변수 = 30
# print(변수)

10
20
30
for 변수 in ["10", "20", "30"]:
    print("변수=", 변수)

변수= 10
변수= 20
변수= 30

In [63]:
# 137 다음 코드를 for문으로 작성하라.

# print(10)
# print(20)
# print(30)

for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [64]:
# 138 다음 코드를 for문으로 작성하라.
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [65]:
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [66]:
#139 다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [68]:
print("++++")
for 변수 in [10, 20, 30]:
    print(변수)

++++
10
20
30

In [69]:
#140 다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [76]:
for 변수 in [1, 2, 3, 4]:
    print("-------")

-------
-------
-------
-------

In [83]:
# 141 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 
# 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]

for i in 리스트:
    print(i + 10)

110
210
310

In [92]:
# 142 for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]
# 오늘의 메뉴: 김밥
# 오늘의 메뉴: 라면
# 오늘의 메뉴: 튀김

for 메뉴 in 리스트:
    print("오늘의 메뉴:", 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [93]:
# 143 리스트에 주식 종목이름이 저장돼 있다.
# 안배웠음.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  길이 = len(종목명)
  print(길이)

6
4
4

In [94]:
#144 리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
#동물 이름과 글자수를 다음과 같이 출력하라.

# dog 3
# cat 3
# parrot 6

for 동물 in 리스트:
    길이 = len(동물)
    print(동물, 길이)

dog 3
cat 3
parrot 6

In [95]:
#145 리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']
#for문을 사용해서 동물 이름의 첫 글자만 출력하라.

for 동물 in 리스트:
    print(동물[0])

d
c
p

In [98]:
#146 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
#for문을 사용해서 다음과 같이 출력하라.

# 3 x 1
# 3 x 2
# 3 x 3

for i in 리스트:
    print('3 x', i)

3 x 1
3 x 2
3 x 3

In [102]:
# 146 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]
# for문을 사용해서 다음과 같이 출력하라.

# 3 x 1 = 3
# 3 x 2 = 6
# 3 x 3 = 9

for i in 리스트:
    print('3 x', i, '=', 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [105]:
# 148 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 나
# 다
# 라

리스트 = 리스트[1:]
for 변수 in 리스트:
    print(변수)

나
다
라

In [113]:
# 149 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 가
# 다
for 변수 in 리스트[::2]:
        print(변수)

가
다

In [115]:
# 150 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]
# for문을 사용해서 다음과 같이 출력하라.

# 라
# 다
# 나
# 가

for 변수 in 리스트[::-1]:
    print(변수)

라
다
나
가

In [121]:
# 151 리스트에는 네 개의 정수가 저장돼 있다.

리스트 = [3, -20, -3, 44]
# for문을 사용해서 리스트의 음수를 출력하라.

for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [123]:
#152 for문을 사용해서 3의 배수만을 출력하라.

리스트 = [3, 100, 23, 44]

for 변수 in 리스트:
    if 변수 % 3 == 0:
        print(변수)

3