# 자료구조
> 여러가지 자료구조가 가지고 있는 메소드 (함수) 알아보기

In [1]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [2]:
a = 'hello my name is Su'

In [3]:
print(a)

hello my name is Su

In [13]:
a [0] = 'H'
# String 은 immutable 하므로 수정이 불가하다.

TypeError: 'str' object does not support item assignment

In [14]:
# 값을 재할당해야함. 
a.capitalize()
# a라는 함수가 가지고 있는 값을 `capitalize` 해주세요.
# return 을 하는 것임. 
# print(a.capitalize())

'-----------helllo---------'

In [15]:
print(a)
# 원본의 데이터가 바뀌는 것은 아님.

-----------helllo---------

In [18]:
#만약 저장된 데이터를 바꾸고 싶다면 (원본을 바꾸고 싶다면)
# a = a.capitalize()

In [19]:
a.title()
#각각의 단어의 시작이 대문자로 바뀌도록

'-----------Helllo---------'

In [20]:
a.lower()
#전부 다 소문자로

'-----------helllo---------'

In [21]:
a.upper()

'-----------HELLLO---------'

In [22]:
my_list = ['my', 'name', 'is']
#하나의 문장으로 출력하고 싶다면
'! '.join(my_list)
# join(내가 넣고 싶은 객체)

'my! name! is'

In [23]:
'?'.join('배고프다')
# str [sequence] 형태의 데이터이므로, `join` 을 통해 각 단어 사이에 `?` 가 join 된다.

'배?고?프?다'

In [24]:
a = '            hello           \n'
print(a)

            hello

In [25]:
a = '            hello           \n'
print(len(a))
#공백이 있다면, 'hello' 5자 이외에도 공백을 출력함.

29

In [26]:
a = '            hello           \n'
a.strip()
#strip 을 통해 \n, \t, 빈공백을 지워줌.

'hello'

In [27]:
a = '!!!!!!!hello??????????'
a.strip('!')

# def strip(char=' ')

'hello??????????'

In [12]:
a = '-----------helllo---------'
print(a.lstrip('-'))
print(a.rstrip('-'))

helllo---------
-----------helllo

In [28]:
a = 'woooooooooow'
a.replace('w', 'a')

'aooooooooooa'

In [29]:
a = 'woooooooooow'
a.replace('o', '!', 3)
#마지막의 '3'은 내가 이 replace를 몇번 시행 할지

'w!!!ooooooow'

In [30]:
a = 'apple'
a.find('a') # => 0 
a.find('l') # => 3 (해당 데이터의 index 번호를 출력함.)
a.find('p') # => 1 (중복된 값이 있을때, 가장 첫번째 index 를 출력해줌.)

a.find('x') # => -1 (그 해당 요소가 데이터에 없을때 '-1' 을 출력해줌.)

-1

In [31]:
a = 'apple'
a.index('a')
a.index('l')
a.index('p')

# 위 a.find('a/ l/ p') 와 동일하게 동작함. 

a.index('x') #=> 없는 데이터를 찾으려고 시도를 하면, error가 남. - code를 종료시킴.

ValueError: substring not found

In [7]:
a = 'my name is su'
a.split()
# => a의 띄어쓰기를 기준으로 다 잘라주고, 그 결과를 [list] 로 만들어서 결과값을 보여줌.

['my', 'name', 'is', 'su']

In [6]:
a = 'my!name!is?Su'
a.split('!')
# => !를 기준으로 잘라줌 .

['my', 'name', 'is?Su']

In [5]:
a = 'wooooooooooooo000oooooOOOOOOOOOOooow'
# o가 몇개인지 개수를 세고 싶을 때
a.count('o')

21

## 리스트 메소드

In [32]:
numbers = [2, 6, 1, 4, 8, 3, 2, 8]

In [33]:
numbers.append(10)
#덧붙인다. 
print(numbers)
# => 리스트 method => append는 원본 데이터를 수정한다.

[2, 6, 1, 4, 8, 3, 2, 8, 10]

In [34]:
a = [99, 100]
numbers.extend(a)
print(numbers)

[2, 6, 1, 4, 8, 3, 2, 8, 10, 99, 100]

In [35]:
numbers.insert(3, 5)
print(numbers)
#위치를 지정해서 데이터를 insert함 => insert(index번호자리, 데이터값)

[2, 6, 1, 5, 4, 8, 3, 2, 8, 10, 99, 100]

In [36]:
numbers.remove(8)
print(numbers)
# => 가장 첫번째로 만나는 데이터 (8)을 삭제함. 
# => 원본 데이터가 바뀜 (8이 하나인 데이터 리스트로)
# => 한번더 numbers.remove(8) 을 실행하면, 
# => 또 다시 데이터 리스트에서 8이 제거됨. 
# => 또 한번 numbers.remove(8) 을 실행하면, 
# 더이상, 리스트 안에 8이 없기에, 오류가 나타난다.

[2, 6, 1, 5, 4, 3, 2, 8, 10, 99, 100]

In [37]:
numbers.pop(0)
print(numbers)

[6, 1, 5, 4, 3, 2, 8, 10, 99, 100]

In [ ]:
#append: 뒤에 데이터를 붙일때, pop: 맨 뒤의 데이터를 뺄 때
#이 둘을 가장 많이 쓰게 될 것임.

In [38]:
numbers.sort()
print(numbers)
# 오름차순으로 정렬함.

[1, 2, 3, 4, 5, 6, 8, 10, 99, 100]

In [39]:
numbers.sort(reverse=True)
#reverse라는 option을 주면, 내림차순으로 정렬됨. 
print(numbers)

[100, 99, 10, 8, 6, 5, 4, 3, 2, 1]

In [40]:
print(sorted(numbers))
#python 자체가 보유하고 있는 함수. 
print(numbers)
# => sorted 는 원본 데이터를 바꾸지 않음. 
# => 반면, sort는 원본 데이터를 바꿈.

[1, 2, 3, 4, 5, 6, 8, 10, 99, 100]
[100, 99, 10, 8, 6, 5, 4, 3, 2, 1]

In [41]:
a = [5, 3, 2, 4, 2, 9]
print(sorted(a))
print(a)

[2, 2, 3, 4, 5, 9]
[5, 3, 2, 4, 2, 9]

In [ ]:
my_list = ['a', 'e', 'o', 'b', 'z']
my_list.sort()
print(my_list)
#글자도 정렬이 가능함 (`유니코드`를 기준으로)

In [ ]:
my_list = ['a', 'A', 'o', '가', '하']
my_list.sort()
print(my_list)
#글자 (영어/ 한글/ etc)도 정렬이 가능함 (`유니코드`를 기준으로)

In [ ]:
print(numbers)
numbers.reverse()
print(numbers)

In [ ]:
numbers.count(10)

### list copy

In [43]:
origin_list = [1, 2, 3]  # 리스트 생성
copy_list = origin_list  # 얕은 복사 (같은 리스트를 참조)

print(origin_list)  # [1, 2, 3]
print(copy_list)    # [1, 2, 3]

copy_list[0] = 100  # copy_list의 첫 번째 값을 변경

print(origin_list)  # [100, 2, 3] (같이 변경됨!)
print(copy_list)    # [100, 2, 3] (같이 변경됨!)

[1, 2, 3]
[1, 2, 3]
[100, 2, 3]
[100, 2, 3]

In [44]:
origin_list = [1, 2, 3]
copy_list = origin_list[:] # => 슬라이싱 해주세요. 처음부터 끝까지 

copy_list[0] = 100

print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [48]:
o_l = [1, 2, [10, 11]]
c_l = o_l[:]  # 얕은 복사

c_l[0] = 100  # ✅ 리스트의 첫 번째 요소 변경
c_l[2][0] = -10  # ✅ 중첩 리스트의 값 변경

print(o_l)  # ❗ 원본도 변경됨 → [1, 2, [-10, 11]]
print(c_l)  # [100, 2, [-10, 11]]

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [50]:
import copy

o_l = [1, 2, [10, 11]]
c_l = copy.deepcopy(o_l)
# copy라는 공구 상자 안에, deepcopy 라는 공구를 쓰겠습니다. 
c_l[0] = 100
c_l[2][1] = -11

print(o_l)
print(c_l)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

## list comprehension

In [51]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
result = []

for number in numbers:
    temp = number ** 3 # => 임시저장하는 temp에 저장
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [56]:
result = [number ** 3 for number in numbers] #=> list 안에 for문을 적음. 
# result = [number1 ** 3, number2 ** 3, number3 ** 3, ... number10 ** 3]
# 계산한 결과 for 반복할 구간
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [61]:
# 예제 for list comprehension
#짝수만 고르기 

numbers = list(range(1, 31)) # => 1부터 30까지의 데이터 
print(numbers)

result = []
for number in numbers:
    if number % 2 == 0:
        # 짝수인 값을 reult에 쌓을 것이다. 
        result.append(number)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [63]:
numbers = list(range(1, 31)) # => 1부터 30까지의 데이터 
result = [number for number in numbers if number % 2 == 0]
# 실행순서: 3     for   1               if  2
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [68]:
# Q. 짝수에 곱하기 2인 값을 최종적으로 출력하고 싶다면? 

numbers = list(range(1, 31)) # => 1부터 30까지의 데이터 
result = [number * 2 for number in numbers if number % 2 == 0]
# 실행순서: 3     for   1               if  2
print(result)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [95]:
# 연습! 모음제거
words = 'my name is hong'

# => my nm s hng

In [105]:
# 1. for / if
#모음 = a e i o u
words = 'my name is hong'

# => my nm s hng
result = []

for word in words:
    if word == 'i':
        
    
print(words)
#자음을 골라내서

SyntaxError: invalid syntax (1528721271.py, line 10)

In [118]:
#정답풀이
for char in words: 
    print(char)

m
y

n
a
m
e

i
s

h
o
n
g

In [139]:
#정답풀이
words = 'my name is hong'

vowels = ['a', 'e', 'i', 'o', 'u']
# 모음집합을 만들어서 알려줌.  
result = []

for char in words: 
    #if char 모음목록에 있다면
    if char in vowels: 
        pass
        #제거해야한다. 
        #문자열을 제거하는 건 불가능 (immutable 하기에)
    #자음인 경우
    else:
        result.append(char)
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [141]:
#정답풀이
words = 'my name is hong'

vowels = ['a', 'e', 'i', 'o', 'u']
# 모음집합을 만들어서 알려줌.  
result = []
#내가 찾아 넣을 [] 빈공간을 생성해준다.  

for char in words: 
    #if char 모음목록에 있다면
    if char not in vowels: 
        result.append(char)
        #제거해야한다. 
        #문자열을 제거하는 건 불가능 (immutable 하기에)
    #자음인 경우
    # else:
    #     result.append(char)
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [142]:
#정답풀이
words = 'my name is hong'

#vowels = 'aeiou' # => String 타입으로 선언. 
# 모음집합을 만들어서 알려줌.  
result = []
#내가 찾아 넣을 [] 빈공간을 생성해준다.  

for char in words: 
    #if char 모음목록에 있다면
    if char not in 'aeiou': 
        result.append(char)
        #제거해야한다. 
        #문자열을 제거하는 건 불가능 (immutable 하기에)
    #자음인 경우
    # else:
    #     result.append(char)
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [144]:
# 2. list comprehension 으로 정답풀이
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [145]:
''.join([char for char in words if char not in 'aeiou'])
# 극단적으로 줄여놓은 상태

'my nm s hng'

In [148]:
# 3. replace 메소드
vowles = 'aeiou'

for char in vowels:
    words = words.replace(char, '')
print(words)

my nm s hng

## dictionary 메소드

In [3]:
info = {
    'name': 'su',
    'location': 'seoul',
    'age': 20,
    'phone_book': {
        'kim': '010-1234-1234',
        'park': '010-4321-4321'
    }, 
    'models': ['iphone', 'ipad']
}

In [8]:
print(info['name'])
print(info['age'])
print(info['phone_book'])
print(info['phone_book']['park']) #dictionary 안의 dictionary에서 값을 불러오기  
print(info['models'][1]) #dictionary 안의 list접근을 위해 [index 번호]로 접근한다.

su
20
{'kim': '010-1234-1234', 'park': '010-4321-4321'}
010-4321-4321
ipad

In [9]:
info['name'] = 'lee' #재할당 - 데이터를 변경함. 
print(info)

{'name': 'lee', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [10]:
info.update(name='choi')
print(info)
#내가 할당한 key에 어떠한 내용으로 업데이트를 할 것이다.

{'name': 'choi', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [11]:
info.pop('location')
#내가 원하는 키값의 key value를 완전히 제거할때
print(info)
#list기준으로 pop 을 한다는 것은 맨마지막 요소를 뽑아낸다는 의미
#dictionary 는 맨마지막 요소를 뽑아낼 수 없음 - sequence 형이 아니므로 (순서가 없다.)

{'name': 'choi', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphone', 'ipad']}

In [13]:
info.get('name')
#name 이라는 key에 해당하는 값을 불러온다. 
print(info['name'])
#dictionary 에서 어떠한 값을 가져올 때, [대괄호로] 접근하므로 
#위 두 코드는 동일하다.

choi

In [14]:
print(info.get('birth'))

None

In [15]:
print(info['birth'])
#없는 데이터값이므로 실행오류가 발생한다.

KeyError: 'birth'

In [30]:
#연습문제
blood_type = ['A', 'B', 'A', 'B', 'O', 'AB', 'A', 'A', 'AB']

info = {'blood_type' :  ['A', 'B', 'A', 'B', 'O', 'AB', 'A', 'A', 'AB']}
#A형이 몇명인지? B형이 몇명인지 를 알고 싶다면
#길이로 접근한다? 
print(len(blood_type))
print(info['blood_type']['A'])
#총 개수가 9개인 것을 알아냈다. 
#[list]형태에서는 get 으로 접근이 불가능하다. 



#=> {'A': 4, 'B': 2, 'AB': 2, 'O': 1}

9

TypeError: list indices must be integers or slices, not str

In [31]:
#연습문제 - 해설
blood_type = ['A', 'B', 'A', 'B', 'O', 'AB', 'A', 'A', 'AB']

result = {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0, 
}

for blood in blood_type:
    #result['A']
    result[blood] += 1

print(result)
#=> {'A': 4, 'B': 2, 'AB': 2, 'O': 1}

{'A': 4, 'B': 2, 'AB': 2, 'O': 1}

In [37]:
locations = ['서울', '서울', '대전', '부산', '대구', 'LA', '파리']
result = {}

for location in locations:
    #if location이 result key 목록에 있으면?:
    if result.get(location):
        #result.get(location)은 location이 result 딕셔너리에 존재하면 현재 개수 값을 반환,
        #존재하지 않으면 None을 반환함.
    #if location in result.keys():
    #   기존데이터에 +1
        result[location] += 1
    #else: 목록에 없다면
    else: 
    #   새로운 키를 등록하고 기본값 1을 지정
        result[location] = 1
print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1, 'LA': 1, '파리': 1}

### dict comprehension

In [41]:
# {1: 1, 2: 8, 3: 27, ... 10: 1000}

result = {}
numbers = range(1, 11)

for number in numbers:
    result[number] = number ** 3
    # result[key] = value

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

딕셔너리(dictionary)는 키(key)와 값(value)을 쌍으로 저장하는 자료형입니다.
 
 1. result = {}
result는 빈 딕셔너리로 시작 → {}
🔹 2. for number in numbers:
numbers = range(1, 11)이므로, number는 1부터 10까지 하나씩 반복됨.
🔹 3. result[number] = number ** 3
number를 **딕셔너리의 키(key)**로 사용하고,
number ** 3을 **딕셔너리의 값(value)**으로 저장.

In [40]:
result = {number: number ** 3 for number in range(1, 11)}
#dictionary 이므로 key와 value 를 함께 써줘야한다. 
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [52]:
dust = {
    '서울': 50,
    '인천': 100, 
    '수원': 30, 
    '부산': 0,
}

In [54]:
result = {}
for key, value in dust.items():
    # key, value = ('서울', '50')

    print(key, value)


#for key, value in dust.items():
# 👉 딕셔너리 dust의 "키-값" 쌍을 하나씩 가져와서 반복한다는 의미입니다.

서울 50
인천 100
수원 30
부산 0

In [51]:
#1. for문
result = {}
for key, value in dust.items():
    #key, value = ('서울', 50)
    #item = ('서울', 50)
    if value <= 30:
        result[key] = value
print(result)

#원본 데이터
#key, value를 separate
#그 중 value 가 30 이하인 값을 
#새로운 result로 묶음.

{'수원': 30, '부산': 0}

In [62]:
#2. comp
result = {k: '매우좋음' for k, v in dust.items() if v <= 30}
print(result)

{'수원': '매우좋음', '부산': '매우좋음'}

## Set 메소드

In [58]:
fruits = {'apple', 'banana', 'melon'}
print(fruits)

{'banana', 'apple', 'melon'}

In [59]:
fruits.add('watermelon')
print(fruits)

{'banana', 'apple', 'watermelon', 'melon'}

In [60]:
fruits.update({'orange', 'grape'})
print(fruits)

{'banana', 'melon', 'watermelon', 'apple', 'orange', 'grape'}

In [61]:
fruits.remove('apple')
print(fruits)

{'banana', 'melon', 'watermelon', 'orange', 'grape'}

In [63]:
fruits.pop()
print(fruits)
#랜덤하게 지움.

{'melon', 'watermelon', 'orange', 'grape'}

# map, filter, zip

## map

- map(function, iterable, *iterables)
    - iterable: 반복가능한 객체 => sequence 타입

In [82]:
numbers = [1, 2, 3, 4, 5]
# => ['1', '2', '3', '4', '5']
result = []
for number in numbers: 
    result.append(str(number))
print(result)

#숫자리스트를 str리스트로 바꾸는 단순 for문

['1', '2', '3', '4', '5']

In [85]:
map(str, numbers)
print(result)
#내가 데이터 각각에 실행하고 싶은 함수를 알려줌. => str
print(list(result))
# => 최종적으로 list로 바꿔주고 출력을 시켜야함 .

['1', '2', '3', '4', '5']
['1', '2', '3', '4', '5']

📌 정리
코드	설명
map(str, numbers)	map 객체를 반환 (리스트가 아님)
list(map(str, numbers))	map 결과를 리스트로 변환하여 출력 가능
for item in map(str, numbers): print(item)	한 개씩 요소를 확인 가능 (리스트 변환 필요 없음)
💡 결론
🚀 map()을 사용하면 각 요소에 함수를 적용할 수 있지만,
🚀 map() 결과를 리스트 형태로 보려면 list()를 꼭 사용해야 함!

In [86]:
# 단순 for문으로 3제곱한 결과값 도출하기 

numbers = [1, 2, 3, 4, 5]
# => [1, 8, 27, 64, 125]
result = []
for number in numbers: 
    result.append(number ** 3)
    
print(result)

[1, 8, 27, 64, 125]

In [92]:
def cube(x): 
    return x ** 3
#3제곱식 함수를 만듦.

In [93]:
# map 을 통한 3제곱 결과값
result = map(cube, numbers)

#map(함수이름, 바꾸고 싶은 데이터)

print(result)
print(list(result))

<map object at 0x00000143A279C790>
[1, 8, 27, 64, 125]

In [99]:
test_input = '1  3  5  7  9'
#1. 띄어쓰기 기준으로 나눈다. 
test_input.split()
#2. 각 글자를 숫자로 바꾼다. 
map(int, test_input.split())
#3. 리스트에 저장한다. 
result = list(map(int, test_input.split()))

print(result)

[1, 3, 5, 7, 9]

### filter
- filter(function, iterable)
  - 이조건에 부합하는 애들만 거르는 과정

In [102]:
# 기존의 for문으로 홀수 골라내는 방법
numbers = [1, 2, 3, 4, 5, 6]

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)
print(result)

[1, 3, 5]

In [105]:
def is_odd(x):
    return x % 2
    #결과가 항상 True or False 일때 적용한다. => filter
    #함수를 선언해준다.

In [106]:
filter(is_odd, numbers)
print(result)
print(list(result))

#filter(True or False의 답을 내는 함수이름, 데이터값)

[1, 3, 5]
[1, 3, 5]

## zip

In [109]:
a = [1, 2, 3]
b = [100, 200, 300]

result = zip(a, b)
print(result)
print(list(result))

#두개의 데이터셋 리스트를 묶을때 사용함.

<zip object at 0x00000143A1C6E500>
[(1, 100), (2, 200), (3, 300)]